.contacto_imagene_portada{
	background-image:url("../../imagenes/Portada/mauricio-costanzo-software-developer-desarrollador-de-webs-contacto.jpg");
	height: 100vh;
}



.contacto_imagene_ads_portada{
 background-image:url("../../imagenes/PaginasPersonalizadas/Campañas/campaña-contacto-mauricio-costanzo.jpg");
 height: 100vh;
}